.post_container {

  header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 40px 0;
    padding-left: 210px;
    cursor: pointer;
  }

  main {

    .banner_container {
      display: flex;
      align-items: center;

      width: 100%;
      max-height: 400px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .content {
      max-width: 721px;
      margin: 80px auto;

      .title {
        color: #F8F8F8;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: -0.5px;
      }

      .info {
        display: flex;
        gap: 24px;
        margin-top: 24px;

        p {
          color: #BBBBBB;
          font-size: 14px;

          svg {
            margin-right: 8px;
          }
        }
      }

      .last_publication_date {
        margin-top: 16px;
        color: #BBBBBB;
        font-size: 14px;
      }

      .post_text {
        article {
          margin: 64px 0 50px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .heading {
          color: #F8F8F8;
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 32px;
        }

        .body {
          color: #D7D7D7;
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }

  .divider {
    max-width: 721px;
    margin: 0 auto;
    border: 1px solid #D7D7D7;
    opacity: 0.1;
  }

  aside {
    max-width: 721px;
    height: 58px;
    margin: 0 auto;
    background: #F8F8F8;
    border-radius: 4px;
    margin-top: 90px;
    margin-bottom: 80px;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }

    a {
      display: block;
      line-height: 58px;
      text-align: center;
      text-decoration: none;
      color: #1A1D23;
      font-size: 18px;
    }
  }
}
